/* https://source.unsplash.com/1280x600/?games */

body{
    padding: 0;
    margin: 0;
}

.header-list{
    margin: 0;
    background-color: rgba(1, 15, 24, 0.897);
    list-style-type: none;
    padding: 12px;
}
.list{
    display: inline;
    margin: 40px;
}
.button{
    color: white;
    text-decoration: none;
    padding: 12px;
    letter-spacing: 2px;
    /* border: 1px solid black; */
}
.button:hover{
    background-color: rgba(1, 15, 24, 0.897);
}

.landing-image{
    background-image: url('./Images/pubg2.jpg');
    position: relative;
    width: auto 0;
    height: 500px;

    opacity: 0.7;
}
.heading{
    color: rgba(8, 61, 110, 0.863);
    position: absolute;
    margin: 110px 0px 0px 130px;
    font-size: 30px;
}
span{
    font-size: 60px;
}


.btn{
    padding: 12px;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(238, 199, 185);
    border-radius: 5px;
}
.flex-div{
    border: 1px solid black;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;
}

footer{
    background-color: black;
    padding-bottom: 20px;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.foot{
    text-decoration: none;
    color: white;
}
.foot:hover{
    border-bottom: white 1px solid;
}
li{
    margin: 10px;

}
h1, h3{
    text-align: center;
}
.heading-games{
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 7px;
}
@media screen and (max-width: 600px){
    .flex {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
@media only screen and (min-width: 500px) {

    .flex{
        display: flex;
        flex-direction: row;
    }
    .flex > * {
        flex: 1;
    }
    /* ul{
        margin: 0;
        background-color: black;
        list-style-type: none;
        padding: 3px;
        
    } */
    .list{
        display: inline;
        margin: 5px;
    }
    .button{
        font-size: 12px;
        text-decoration: none;
        letter-spacing: 0px;
    }
    /* textarea{
        width: 400px;
    } */
  }
